<div class="search_bar">
  <%= form_tag(requests_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "keyword" %>
  <%= submit_tag "Search", :name => nil , class: "button" %>
  <% end %>
</div>
<br>
<!-- <div class="request-body">

<%= table_for @requests do -%>
<% columns :name,
:email,
:department,
:message,
:status %>
<% end %>

<%= will_paginate %>

</div> -->
<div class="request-body">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Message</th>
        <th>Action</th>
        <th>Status</th>

      </tr>
    </thead>
    <tbody>
      <% @requests.each do |r| %>
      <tr>
        <td><%=r.name%></td>
        <td><%=r.email%></td>
        <td><%=r.department%></td>
        <td><%=r.message%></td>
        <td> <%= link_to "Delete", r, method: :delete, data: {confirm: "Are you sure?"} %> | <%= link_to "Edit", edit_request_path(r) %> </td>
        <td><%=link_to r.status, requests_path%></td>

      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
